.textbox {
	background-color: $primary-color-teal;
	color: $primary-color-beige;
	padding: 5px 15px 10px;
  margin-bottom: 15px;
  .dropdown-headline {
    cursor: pointer;
    span {
      width: 100%;
      h2 {
        font-size: 20px;
      }
      &:before {
        float: right;
        font-size: 30px;
        margin-top: 12px;
        margin-bottom: 10px;
      } 
    }  
    
  }
  .dropdown-text {
    display: none;
    font-size: 16px;
    a {
      color: $primary-color-beige;
      &:focus {
        color: $primary-color-beige;
      }
    }
    h3 {
      font-size: 18px;
      font-family: "eveleth-thin";
      width: 100%;
      &:before {
        font-family: "font-awesome";
        float: right;
      }
    }
  }
}
