.gradient-background {
	@include gradient-background($secondary-color-rosa);
}

.news {
	position: relative;
	margin-bottom: 25px;
	margin-top: 15px; 
	img {
		width: 100%; 
	}
	h4 {
		font-family: "eveleth-regular";
		bottom: 0;
		color: #fff9f4;
		padding-left: 10px; 
	}
	p {
		color: #fff9f4;
		padding-left: 10px;
		font-size: 16px;
		line-height: 1.2; 
	}

}

a.button {
  -webkit-appearance: button; }

.newsfeed {
  padding-top: 20px; 
}
.menu-button {
  font-family: "eveleth-thin";
  line-height: 1.6;
  height: 80px;
  float: right;
  width: 100%;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#button-schedule {
  @include gradient-background($secondary-color-yellow);
  color: white;
}

#button-information {
  @include gradient-background($secondary-color-rosa);
  color: $primary-color-beige;
}

#button-map {
  @include gradient-background($secondary-color-yellow);
  color: black;
}

#button-qrcode {
  @include gradient-background($secondary-color-azur);
  color: white;
}