@font-face {
  font-family: "eveleth-regular";
  src: url(../fonts/eveleth-regular.ttf); }
@font-face {
  font-family: "eveleth-thin";
  src: url(../fonts/eveleth-thin.ttf); }
@font-face {
  font-family: "brown";
  src: url(../fonts/brown-regular.otf); }
@font-face {
  font-family: "font-awesome";
  src: url(../fonts/fontawesome-webfont.ttf); }
h1 {
  font-family: "eveleth-regular";
  text-align: center; }

h2, h3, h4, h5 {
  font-family: "eveleth-thin";
  line-height: 1.6; }
